:root {
  /* TYPO ----------------------------------- */
  --TripSansMedium: "Trip Sans Medium", sans-serif;
  --TripSans: "Trip Sans", sans-serif;
  --Georgia: Georgia, serif;
  --TripSans-VF: TripSans-VF, sans-serif;
  /* COLOR ---------------------------------- */
  --black: black;
  --pink: #FF5D5D;
  --grey: #333;
  --white: #fff;
}

@font-face {
  font-family: "Trip Sans";
  src: url("../assets/fonts/TripSans-Regular.woff2") format("woff2"), url("../assets/fonts/TripSans-Regular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Trip Sans Medium";
  src: url("../assets/fonts/TripSans-Medium.woff2") format("woff2"), url("../assets/fonts/TripSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: TripSans-VF;
  src: url("../assets/fonts/TripSans-VF.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* GENERAL ----------------------------------------- */
* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  font-size: 62.5%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FOOTER ------------------------------------------ */
.footer-container {
  height: 156px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: var(--pink);
  border-top: 1px solid black;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.footer-content img {
  width: 50px;
  height: 50px;
}

.footer-content p {
  padding: 20px 0;
}

.footer-content p span {
  font-family: var(--TripSansMedium);
}

/* ---------- HEADER -------------- */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--white);
  z-index: 1000;
}
@media (min-width: 1024px) {
  .header-container {
    max-width: 64rem;
  }
}
.header-container--nav {
  order: 1;
}
@media (min-width: 768px) {
  .header-container--nav {
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.header-container--nav a {
  padding: 0.6rem;
}
.header-container--nav a:last-child {
  font-family: var(--TripSansMedium);
  font-size: 1rem;
  font-weight: 100;
  padding: 0.7rem 0.8rem;
  color: var(--white);
  border-radius: 2rem;
  margin-right: 0;
  background-color: var(--black);
  transition: background-color 1s;
}
.header-container--nav a:hover {
  background-color: #eee;
  padding: 0.6rem;
  border-radius: 1rem;
}
.header-container--nav a:last-child:hover {
  padding: 0.7rem 0.8rem;
  border-radius: 2rem;
  background-color: var(--grey);
}
.header-container--nav .big-nav {
  display: none;
}
@media (min-width: 768px) {
  .header-container--nav .big-nav {
    display: flex;
    margin-right: 0.4rem;
    font-size: 1.1rem;
  }
}
.header-container--nav .big-nav span {
  display: none;
}
@media (min-width: 1024px) {
  .header-container--nav .big-nav span {
    display: flex;
    font-family: var(--TripSansMedium);
    font-size: 1rem;
    margin-left: 0.6rem;
  }
}
.header-container--nav .small-nav i {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .header-container--nav .small-nav i {
    display: none;
  }
}
.header-container--logo {
  order: 2;
}
@media (min-width: 768px) {
  .header-container--logo {
    order: 1;
  }
}
.header-container--logo img {
  width: 8.5rem;
}
@media (min-width: 768px) {
  .header-container--logo img {
    min-width: 11.5rem;
    margin-right: 0.5rem;
  }
}
.header-container--search {
  order: 3;
}
@media (min-width: 768px) {
  .header-container--search {
    order: 2;
  }
}
.header-container--search input {
  font-family: var(--TripSans);
  font-size: 0.9rem;
  display: none;
  min-width: 11rem;
  min-height: 2.5rem;
  padding: 0.3rem 0 0.3rem 2rem;
  border-radius: 2rem;
  border: none;
  border: 0.15rem solid #ddd;
  background-image: url("../assets/img/search.png");
  background-repeat: no-repeat;
  background-position: 0.5rem;
}
@media (min-width: 768px) {
  .header-container--search input {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .header-container--search input {
    min-width: 18rem;
  }
}
.header-container--search input i {
  font-size: 2rem;
}
.header-container--search .small-search {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .header-container--search .small-search {
    display: none;
  }
}

/* ----------- MAIN --------------- */
.main-container {
  max-width: 50rem;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .main-container {
    max-width: 64rem;
  }
}
.main-container--h1 {
  font-family: var(--TripSansMedium);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.1px;
  margin-bottom: 1rem;
  margin-top: 8rem;
  padding-left: 1.5rem;
}
@media (min-width: 768px) {
  .main-container--h1 {
    font-size: 3.5rem;
    margin-top: 6rem;
  }
}
.main-container--h1 span {
  color: var(--pink);
}
.main-container--icone {
  position: relative;
}
.main-container--icone .icon i {
  position: absolute;
  font-size: 1.3rem;
  top: 0.7rem;
  right: 0.7rem;
}
@media (min-width: 768px) {
  .main-container--icone .icon i {
    display: none;
  }
}
.main-container--list {
  display: flex;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .main-container--list {
    flex-wrap: wrap;
  }
}
.main-container--list > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  min-width: 8rem;
  border: 0.1rem solid var(--black);
  border-radius: 0.7rem;
  padding: 0.7rem 0.7rem;
  margin-left: 0.7rem;
}
@media (min-width: 768px) {
  .main-container--list > div {
    min-height: 4.25rem;
    width: 10.625rem;
    margin-bottom: 0.5rem;
  }
}
.main-container--list > div:hover {
  background-color: var(--black);
}
.main-container--list > div:hover a {
  background-color: var(--black);
  color: var(--white);
}
.main-container--list > div:hover i {
  color: var(--white);
}
.main-container--list > div:first-child {
  margin-left: 0;
}
@media (min-width: 768px) {
  .main-container--list > div:nth-child(5) {
    margin-left: 0;
  }
}
.main-container--list > div a {
  font-family: var(--TripSansMedium);
  font-size: 1rem;
  padding-right: 0.8rem;
  cursor: pointer;
}
.main-container--list > div i {
  font-size: 0.9rem;
}
.main-container--pictures {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .main-container--pictures {
    flex-direction: row;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.main-container--pictures-left img {
  object-fit: cover;
  object-position: center;
  padding-right: 0.1rem;
  min-width: 29.375rem;
}
.main-container--pictures-left a {
  position: absolute;
  font-family: var(--TripSansMedium);
  font-size: 0.8rem;
  bottom: 1rem;
  left: 1rem;
  color: var(--white);
  background-color: var(--black);
  padding: 0.8rem;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .main-container--pictures-left a {
    left: 2rem;
  }
}
.main-container--pictures-right {
  display: none;
}
@media (min-width: 768px) {
  .main-container--pictures-right {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
  }
}
@media (min-width: 768px) {
  .main-container--pictures-right img {
    object-fit: cover;
    object-position: center;
    min-width: 14.375rem;
    min-height: 10.4rem;
  }
}
.main-container--links {
  display: none;
}
@media (min-width: 768px) {
  .main-container--links {
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-family: var(--TripSans);
    font-size: 0.7rem;
    margin-bottom: 4rem;
  }
  .main-container--links .block a:hover {
    text-decoration: underline;
  }
}
.main-container--ville {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .main-container--ville {
    flex-direction: row;
    gap: 2rem;
  }
}
.main-container--ville-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .main-container--ville-description {
    justify-content: start;
    width: 25.35rem;
  }
}
.main-container--ville-description h2 {
  font-family: var(--TripSansMedium);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.main-container--ville-description p {
  font-family: var(--Georgia);
  font-size: 1rem;
  line-height: 1.4rem;
  color: var(--grey);
}
.main-container--ville-organisation {
  display: flex;
  flex-direction: column;
  max-width: 44rem;
  border-radius: 2rem;
}
@media (min-width: 768px) {
  .main-container--ville-organisation {
    width: 26.25rem;
  }
}
.main-container--ville-organisation .paris {
  background-color: var(--pink);
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.main-container--ville-organisation h2 {
  font-family: var(--TripSansMedium);
  font-size: 1.6rem;
  color: var(--black);
  margin-bottom: 1rem;
}
.main-container--ville-organisation p {
  font-family: var(--TripSansMedium);
  font-size: 1.1rem;
  color: var(--black);
  margin-bottom: 2rem;
}
.main-container--ville-organisation a {
  font-family: var(--TripSansMedium);
  font-size: 1rem;
  color: var(--white);
  background-color: var(--black);
  padding: 1rem;
  border-radius: 2rem;
}
.main-container--ville-organisation a:hover {
  background-color: var(--grey);
}
.main-container--ville-organisation .paris-map img {
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* --- SECTION-CONTAINER --- */
.section-container {
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 2rem;
  margin-bottom: 5rem;
}
@media (min-width: 1024px) {
  .section-container {
    max-width: 64rem;
  }
}
.section-container h2 {
  font-family: var(--TripSansMedium);
  font-size: 1.6rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}
.section-container--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.section-container--title h3 {
  font-family: var(--TripSansMedium);
  font-size: 1.45rem;
}
.section-container--title a {
  font-family: var(--TripSansMedium);
  font-size: 1.1rem;
  text-decoration: underline;
}
.section-container--unmissable {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .section-container--unmissable {
    flex-direction: row;
  }
}
.section-container--unmissable-icon i {
  position: absolute;
  top: 3rem;
  right: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1.6rem;
  border: 0.1rem solid var(--black);
  background-color: var(--white);
  z-index: 2;
}
@media (min-width: 768px) {
  .section-container--unmissable-left {
    min-width: 14.5rem;
  }
}
.section-container--unmissable-left h3 {
  font-family: var(--TripSansMedium);
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.section-container--unmissable-left p {
  font-family: var(--Georgia);
  font-size: 1rem;
  line-height: 1.3rem;
  margin-bottom: 1.5rem;
}
.section-container--unmissable-left a {
  display: inline-block;
  font-family: var(--TripSansMedium);
  font-size: 1rem;
  text-decoration: underline;
  color: #545454;
  margin-bottom: 1.5rem;
}
.section-container--unmissable-right {
  display: flex;
  flex-direction: row;
  max-width: 40rem;
}
.section-container--unmissable-right .block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  max-width: 350px;
  margin-right: 0.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .section-container--unmissable-right .block {
    width: 11.5rem;
  }
}
.section-container--unmissable-right .block img {
  width: 350px;
  height: 263px;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .section-container--unmissable-right .block img {
    width: 11.5rem;
    height: 8.75rem;
  }
}
.section-container--unmissable-right .block i {
  position: absolute;
  font-size: 1.3rem;
  top: 0.7rem;
  right: 0.7rem;
  background-color: var(--white);
  padding: 0.7rem;
  border-radius: 50%;
}
.section-container--unmissable-right .block h4 {
  font-family: var(--TripSansMedium);
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.section-container--unmissable-right .block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2rem;
}
.section-container--unmissable-right .block .popularity ul {
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}
.section-container--unmissable-right .block .popularity ul li {
  font-size: var(--TripSans);
  margin-right: 0.1rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 0.1rem solid #00AA6C;
}
.section-container--unmissable-right .block .popularity p {
  font-size: var(--TripSans);
  font-size: 0.8rem;
  padding-bottom: 0.3rem;
}
.section-container--unmissable-right .block p {
  font-family: var(--TripSans);
  font-size: 0.9rem;
}
.section-container--popular {
  display: flex;
  overflow: hidden;
  position: relative;
}
.section-container--popular-icon i {
  position: absolute;
  top: 5rem;
  right: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1.6rem;
  border: 0.1rem solid var(--black);
  background-color: var(--white);
  z-index: 2;
}
.section-container--popular-icon i:hover {
  color: var(--white);
  background-color: var(--black);
}
.section-container--popular .block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  max-width: 22rem;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .section-container--popular .block {
    width: 17.75rem;
    min-height: 13.25rem;
  }
}
.section-container--popular .block img {
  width: 22rem;
  height: 16.375rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .section-container--popular .block img {
    width: 17.75rem;
    height: 13.25rem;
  }
}
.section-container--popular .block i {
  position: absolute;
  font-size: 1.3rem;
  top: 0.7rem;
  right: 0.7rem;
  background-color: var(--white);
  padding: 0.7rem;
  border-radius: 50%;
}
.section-container--popular .block h4 {
  font-family: var(--TripSansMedium);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}
.section-container--popular .block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2rem;
}
.section-container--popular .block .popularity ul {
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}
.section-container--popular .block .popularity ul li {
  font-size: var(--TripSans);
  margin-right: 0.1rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 0.1rem solid #00AA6C;
}
.section-container--popular .block .popularity p {
  font-size: var(--TripSans);
  font-size: 0.75rem;
  padding-bottom: 0.3rem;
}
.section-container--popular .block p {
  font-family: var(--TripSans);
  font-size: 0.9rem;
}
.section-container--popular .block p span {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.3rem;
}
.section-container--geniale {
  display: flex;
  overflow: hidden;
  position: relative;
}
.section-container--geniale-icon i {
  position: absolute;
  top: 6rem;
  right: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1.6rem;
  border: 0.1rem solid var(--black);
  background-color: var(--white);
  z-index: 2;
}
.section-container--geniale-icon i:hover {
  color: var(--white);
  background-color: var(--black);
}
.section-container--geniale .block {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
  max-width: 22rem;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .section-container--geniale .block {
    width: 14.25rem;
  }
}
.section-container--geniale .block img {
  width: 17.675rem;
  height: 17.675rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .section-container--geniale .block img {
    width: 14.25rem;
    height: 14.25rem;
  }
}
.section-container--geniale .block i {
  position: absolute;
  font-size: 1.3rem;
  top: 0.7rem;
  right: 0.7rem;
  background-color: var(--white);
  padding: 0.7rem;
  border-radius: 50%;
}
.section-container--geniale .block h4 {
  font-family: var(--TripSansMedium);
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2rem;
}
.section-container--geniale .block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.2rem;
}
.section-container--geniale .block .popularity ul {
  margin-right: 0.7rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
}
.section-container--geniale .block .popularity ul li {
  font-size: var(--TripSans);
  margin-right: 0.1rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 0.1rem solid #00AA6C;
}
.section-container--geniale .block .popularity p {
  font-size: var(--TripSans);
  font-size: 0.75rem;
  padding-bottom: 0.3rem;
}
.section-container--geniale .block p {
  font-family: var(--TripSans);
  font-size: 0.9rem;
}
.section-container--geniale .block p span {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.3rem;
}

/* --------- TENDANCE ------------- */
.tendance-container {
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 1024px) {
  .tendance-container {
    max-width: 64rem;
  }
}
.tendance-container--icon {
  position: absolute;
  top: 6rem;
  right: 0.3rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1.6rem;
  border: 0.1rem solid var(--black);
  background-color: var(--white);
  z-index: 2;
}
.tendance-container--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.tendance-container--title h3 {
  font-family: var(--TripSansMedium);
  font-size: 1.5rem;
}
.tendance-container--title a {
  font-family: var(--TripSansMedium);
  font-size: 1rem;
  text-decoration: underline;
  padding-right: 1.5rem;
}
.tendance-container--content {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
  overflow: hidden;
}
.tendance-container--content .block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5rem;
  width: 22rem;
  height: 9rem;
  background-color: #faf1ed;
  padding: 1.7rem 1.5rem;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .tendance-container--content .block {
    min-width: 17.875rem;
  }
}
.tendance-container--content .block p {
  font-family: var(--TripSansMedium);
  font-size: 1.1rem;
}
.tendance-container--content .block .profil {
  display: flex;
  align-items: center;
}
.tendance-container--content .block .profil img {
  max-width: 2.3rem;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.tendance-container--content .block .profil p {
  font-family: var(--TripSans);
  font-size: 1rem;
}
.tendance-container--content .block .profil p span {
  font-weight: bold;
}

/* ------------ FOOTER ------------ */
.footer-container {
  height: 9.75rem;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.25rem;
  background-color: var(--pink);
  border-top: 0.1rem solid --black;
}
.footer-container--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.footer-container img {
  width: 2.5rem;
  height: 3.125rem;
}
.footer-container p {
  padding: 1.25rem 0;
}
.footer-container p span {
  font-family: var(--TripSansMedium);
}

/*# sourceMappingURL=style.css.map */
