/* GENERAL ----------------------------------------- */

* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    font-size: 62.5%;
  }

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }

  img {
    max-width: 100%;
  }
  
  // .container {
  //   width: 39rem;
  //   margin-left: auto;
  //   margin-right: auto;
  // }