@import "variables";
@import "fonts";
@import "general";
@import "reset";
@import "footer";
@import "media-queries";


/* ---------- HEADER -------------- */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;;
  height: 8rem;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  z-index: 1000;

  &--nav {
    order: 1; 
  }

  // &--nav a {
  //   font-family: var(--TripSans);
  //   font-size: 1.6rem;
  //   font-weight: 600;
  //   padding: 1rem;
  //   cursor: pointer;
  // }

  // &--nav a:hover {
  //   background-color: #eee;
  //   padding: 1rem;
  //   border-radius: 2rem;
  // }

  // &--nav a:last-child {
  //   color: var(--white);
  //   background-color: var(--black);
  //   font-family: var(--TripSans);
  //   font-weight: 500;
  //   border-radius: 2rem;
  // }

  // &--nav a:last-child:hover {
  //   background-color: var(--grey);
  // }

    &--nav .big-nav {
      display: none;
    }

    // &--nav .big-nav span {
    //   @include medium {
    //     display: none;
    //   }
    // }

    &--nav .small-nav i {
      font-size: 1.5rem;
    }

    &--logo {
      order: 2;
    }

    &--logo img {
      width: 10rem;
    }

    &--search {
      order: 3;
    }

    &--search input {
      display: none;
    }

    &--search .small-search {
      font-size: 1.5rem;
    }
}

/* ----------- MAIN --------------- */

.main-container {
  max-width: 50rem;
  margin: 0 auto;
  
  &--h1 {
    font-family: var(--TripSansMedium);
    font-size: 2.3rem;
    font-weight: 900;
    letter-spacing: 1.1px;
    margin-bottom: 1rem;
    margin-top: 8rem;
    padding-left: 1.5rem;
  }

  &--h1 span {
    color: var(--pink);
  }

  &--list {
    display: flex;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    overflow: hidden;
    overflow-x: auto;
  }

  &--list > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    min-width: 8rem;
    border: 0.1rem solid var(--black);
    border-radius: 0.7rem;
    padding: 0.7rem 0.7rem;
    margin-left: 0.7rem;
  }

  &--list > div:first-child {
    margin-left: 0;
  }

  &--list > div a {
    font-family: var(--TripSansMedium);
    font-size: 1rem;
    padding-right: 0.8rem;
    background-color: var(--white);
    cursor: pointer;
  }

  &--list > div a:hover {
    background-color: var(--black);
    color: var(--white);
  }

  &--list > div i {
    font-size: .9rem;
  }

  &--pictures {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &--pictures-left img {
    object-fit: cover;
    object-position: center;
    max-width: 30rem;
  }

  &--pictures-left a {
    position: absolute;
    font-family: var(--TripSansMedium);
    font-size: 0.8rem;
    bottom: 1rem;
    left: 1rem;
    color: var(--white);
    background-color: var(--black);
    padding: 0.8rem;
    border-radius: 2rem;
  }

  &--pictures-right {
    display: none;
  }

  &--links {
    display: none;
  }

  &--ville {
    display: flex; 
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    &-description h2 {
      font-family: var(--TripSansMedium);
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    &-description p {
      font-family: var(--Georgia);
      font-size: 1rem;
      line-height: 1.4rem;
      color: var(--grey);
    }

    &-organisation {
      display: flex;
      flex-direction: column;
      max-width: 44rem;
      border-radius: 2rem;
    }

    &-organisation .paris {
      background-color: var(--pink);
      padding: 1.5rem 1.5rem 3rem 1.5rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
    }

    &-organisation h2 {
      font-family: var(--TripSansMedium);
      font-size: 1.6rem;
      color: var(--black);
      margin-bottom: 1rem;
    }

    &-organisation p {
      font-family: var(--TripSansMedium);
      font-size: 1.1rem;
      color: var(--black);
      margin-bottom: 2rem;
    }

    &-organisation a {
      font-family: var(--TripSansMedium);
      font-size: 1rem;
      color: var(--white);
      background-color: var(--black);
      padding: 1rem;
      border-radius: 2rem;
    }

    &-organisation a:hover {
      background-color: var(--grey);
    }

    &-organisation .paris-map img {
      width: 100%;
      object-fit: cover;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
}

/* --- SECTION-CONTAINER --- */

.section-container {
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;

  h2 {
    font-family: var(--TripSansMedium);
    font-size: 1.6rem;
    font-weight: bolder;
    margin-bottom: 2rem;
  }

  &--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.8rem;

    h3 {
      font-family: var(--TripSansMedium);
      font-size: 1.45rem;
    }

    a {
      font-family: var(--TripSansMedium);
      font-size: 1.1rem;
      text-decoration: underline;
    }
  }

  &--unmissable {
    display: flex;
    flex-direction: column;

    &-left {
      // padding-left: 2rem;
      // padding-right: 2rem;
  
      h3 {
        font-family: var(--TripSansMedium);
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }
  
      p {
        font-family: var(--Georgia);
        font-size: 1rem;
        line-height: 1.3rem;
        margin-bottom: 1.5rem;
      }
  
      a {
        display: inline-block;
        font-family: var(--TripSansMedium);
        font-size: 1rem;
        text-decoration: underline;
        color: #545454;
        margin-bottom: 1.5rem;    
      }
    }

    &-right {
      display: flex;
      flex-direction: row;
      max-width: 40rem;
      // padding-left: 2rem;
      // padding-right: 2rem;
      overflow: hidden;
      overflow-x: auto;
    }

    &-right .block {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        margin-right: 1rem;
        position: relative;

        img {
          width: 350px;
          height: 263px;
          margin-bottom: 1rem;
        }

        i {
          position: absolute;
          top: 1.5rem;
          right: 2rem;
          background-color: var(--white);
          padding: 7px;
          border-radius: 50%;
        }

        h4 {
          font-family: var(--TripSansMedium);
          font-size: 1.2rem;
          margin-bottom: 0.5rem;
        }

        .popularity {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 0.2rem;
        }

        .popularity ul {
          margin-right: 0.7rem;
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
        }

        .popularity ul li {
          font-size: var(--TripSans);
          margin-right: 0.1rem;
          width: 0.7rem;
          height: 0.7rem;
          background-color: #00AA6C;
          border-radius: 50%;
          border: 0.1rem solid #00AA6C;
        }

        .popularity p {
          font-size: var(--TripSans);
          font-size: 0.8rem;
          padding-bottom: 0.3rem;
        }

        p {
          font-family: var(--TripSans);
          font-size: 0.9rem;

        }
      }
  }

  &--popular {
    display: flex;

    .block {
      display: flex;
      flex-direction: column;
      position: relative;

      img {
        max-width: 25rem;
      }
    }

  }

}

/* --- SECTION TRENDS OF FORUMS --- */

.tendance-container {
  max-width: 50rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  overflow-x: auto;

  &--title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    h3 {
      font-family: var(--TripSansMedium);
      font-size: 1.3rem;
    }

    a {
      font-family: var(--TripSansMedium);
      font-size: 1rem;
      text-decoration: underline;
      color: #545454;
    }
  }

  &--content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;

    .block {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     width: 22rem;
     min-height: 7rem;
     padding: 1.5rem;
     margin-right: 0.5rem;
     border-radius: 1rem;
     background-color: #faf1ed;
     flex-shrink: 0;
    } 
    
    .block:last-child {
      margin-right: 0;
    }

    p {
      font-family: var(--TripSansMedium);
      font-size: 1.1rem;
      line-height: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .profil {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .profil img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-right: 0.5rem;
    }

    .profil p {
      font-family: var(--TripSans);
      font-size: 1rem;
    }

    .profil p span {
      font-family: var(--TripSansMedium);
      font-size: 1rem;
      padding-right: 0.5rem;
    }
  }
}

/* ------ RENT A APPARTEMENT ------ */

.popularlocation-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popularlocation-title h3 {
  font-family: var(--TripSansMedium);
  font-size: 24px;
}

.popularlocation-title a {
  font-family: var(--TripSans);
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  text-decoration: underline;
}

.popularlocation-container {
  position: relative;
  margin-bottom: 84px;
}

.arrow i {
  position: absolute;
  top: 120px;
  right:-20px;
  z-index: 1;
  font-size: 22px;
  font-weight: bolder;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.arrow i:hover {
  color: var(--white);
  background-color: var(--black);
}

.popularlocation-content {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.popularlocation-content-block {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 17px;
}

.popularlocation-content-block:last-child {
  margin-right: 0px;
}

.popularlocation-content-block img {
  width: 364px;
  height: 272px;
  margin-bottom: 8px;
}

.popularlocation-content-block i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
}

.popularlocation-content-block h4 {
  font-family: var(--TripSansMedium);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.popularlocation-content-block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popularlocation-content-block .popularity ul {
  margin-right: 7px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.popularlocation-content-block .popularity li {
  font-size: var(--TripSans);
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 1px solid #00AA6C;
}

.popularlocation-content-block .popularity li:last-child {
  background-color: var(--white);
  border: 1px solid #00AA6C;
}

.popularlocation-content-block .popularity p {
  font-family: var(--TripSans);
  font-size: 12px;
  padding-bottom: 5px;
}

.popularlocation-content-block p {
  font-family: var(--TripSans);
  font-size: 14px;
  line-height: 20px;
}

.popularlocation-content-block p span {
  font-family: var(--TripSansMedium);
  font-size: 16px;
}

/* -------------------------------- */
/* --------- PARIS GENIALE -------- */
/* -------------------------------- */


.geniale-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.geniale-title h3 {
  font-family: var(--TripSansMedium);
  font-size: 24px;
}

.geniale-title a {
  font-family: var(--TripSans);
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  text-decoration: underline;
}

.geniale-container {
  position: relative;
  margin-bottom: 106px;
}

.arrow-2 i {
  position: absolute;
  top: 120px;
  right:-20px;
  z-index: 1;
  font-size: 22px;
  font-weight: bolder;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.arrow-2 i:hover {
  color: var(--white);
  background-color: var(--black);
}

.geniale-container-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
}

.geniale-container-block {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 271px;
  margin-right: 15px;
}

.geniale-container-block:last-child {
  margin-right: 0px;
}

.geniale-container-block img {
  width: 271px;
  height: 268px;
  margin-bottom: 5px;
}

.geniale-container-block i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
}

.geniale-container-block h4 {
  font-family: var(--TripSansMedium);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.geniale-container-block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geniale-container-block .popularity ul {
  margin-right: 7px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.geniale-container-block .popularity li {
  font-size: var(--TripSans);
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 1px solid #00AA6C;
}

.geniale-container-block .popularity li:last-child {
  background-color: var(--white);
  border: 1px solid #00AA6C;
}

.geniale-container-block .popularity p {
  font-family: var(--TripSans);
  font-size: 12px;
  padding-bottom: 5px;
}

.geniale-container-block p {
  font-family: var(--TripSans);
  font-size: 14px;
  line-height: 20px;
}

.geniale-container-block p span {
  font-family: var(--TripSansMedium);
  font-size: 16px;
}

/* -------------------------------- */
/* ------------ FOOTER ------------ */
/* -------------------------------- */

.footer-container {
  height: 156px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: var(--pink);
  border-top: 1px solid --black;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.footer-content img {
  width: 50px;
  height: 50px;;
}

.footer-content p {
  padding: 20px 0;
}

.footer-content p span {
  font-family: var(--TripSansMedium);
}
