:root {
    
    /* TYPO ----------------------------------- */
    --TripSansMedium: "Trip Sans Medium", sans-serif;
    --TripSans: "Trip Sans", sans-serif;
    --Georgia: Georgia, serif;
    --TripSans-VF: TripSans-VF, sans-serif;

    /* COLOR ---------------------------------- */
    --black: black;
    --pink: #FF5D5D;
    --grey: #333;
    --white: #fff;
}