@font-face {
    font-family: 'Trip Sans';
    src: url('../fonts/TripSans-Regular.woff2') format('woff2'),
        url('../fonts/TripSans-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Trip Sans Medium';
    src: url('../fonts/TripSans-Medium.woff2') format('woff2'),
        url('../fonts/TripSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TripSans-VF';
    src: url('../fonts/TripSans-VF.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



