/* GENERAL ----------------------------------------- */
body {
    background-color: white;
    font-family: "Trip Sans", sans-serif;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
  }

  h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .container {
    width: 1135px;
    margin-left: auto;
    margin-right: auto;
  }