/* GENERAL ----------------------------------------- */
body {
    background-color: white;
    font-family: "Trip Sans", sans-serif;
    box-sizing: border-box;
    margin: 50px 0px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .container {
    width: 1135px;
    margin-left: auto;
    margin-right: auto;
  }