/* HEADER -------------------------------------------- */

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;;
    height: 130px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--white);
    border-bottom: 1px solid black;

    z-index: 1000;
  }
  
  .logo {
    width: 187px;
    height: 40px;
    margin-right: 30px;
  }
  
  input {
    width: 340px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px 10px 40px;
    background-image: url('../img/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-right:30px;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    font-family: var(--TripSans);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
  }
  
  i {
    font-size: 20px;
    margin-right: 4px;
  }
  
  nav a:hover {
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
  }
  
  nav a:last-child {
    background-color: var(--black);
    color: var(--white);
    padding: 13px 15px;
    border-radius: 20px;
    font-family: var(--TripSans);
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 1s;
  }
  
  nav a:last-child:hover {
    background-color: var(--grey);
  }