@import url("variables.css");
@import url("general.css");

/* -------------------------------- */
/* ---------- HEADER -------------- */
/* -------------------------------- */

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;;
  height: 80px;
  max-width: 767px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  z-index: 1000;
}

.header-container--logo {
  order: 2;
}

.header-container--logo img {
  width: 140px;
  height: 35px;
  margin-right: 30px;
}

.header-container--search {
  order: 3;
}

.header-container--search input {
  display: none;
}

.header-container--search .small-search {
  font-size: 25px;
  margin-right: 30px;
}

.header-container--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  order: 1;
}

.header-container--nav .big-nav {
  display: none;
} 

.header-container--nav .small-nav {
  font-size: 25px;
}


/* -------------------------------- */
/* ----------- MAIN --------------- */
/* -------------------------------- */

.main-container {
  max-width: 767px;
  margin: 0 auto;
  padding: 0 24px;
}

h1 {
    font-family: var(--TripSansMedium);
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
    margin-top: 80px;
    padding-left: 24px;
}
  
h1 span {
    color: var(--pink);
}
  
.main-container--list {
    display: flex;
    margin-bottom: 15px;
}

.main-container--list button {
  font-family: var(--TripSansMedium);
  font-size: 16px;
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.main-container--list button:hover {
  background-color: var(--black);
  color: var(--white);
}

.main-container--list > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  min-width: 150px;
  border: 1px solid var(--black);
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;

}
  
  
.main-container--list > div:hover {
    color: white;
    background-color: var(--black);
}
  
.pictures {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.pictures a {
    position: absolute;
    left: 20px;
    bottom: 17px;
    color: var(--white);
    padding: 10px;
    background-color: var(--black);
    border-radius: 20px;
    font-size: 12px;
    font-family: var(--TripSansMedium);
}
  
.pictures a:hover {
    background-color: var(--grey);
}
  
.pictures a i {
    font-size: 12px;
}
  
.pictures img {
    object-fit: cover;
    height: 432px;
    width: 658px;
    opacity: 100%;
    transition: opacity 1s;
}
  
.pictures img:hover {
    opacity:80%;
}
  
.pictures-column {
    display: flex;
    flex-direction: column;
}
  
.pictures-column img {
    height: 215px;
    width: 475px;
    margin-bottom: 2px;
    object-fit: cover;
}
  
.links {
    margin-bottom: 39px;
    font-family: var(--TripSans);
    font-size: 12px;
    line-height: 12px;;
    color: var(--grey);
}
  
.links a:hover {
    text-decoration: underline;
}
  
.links span {
    margin: 0 3px;
    padding-top: 2px;
    font-weight: 600;
    font-size: 10px;
}
  
.bloc-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}
 
.description {
    width: 657px;
    padding-right: 140px;
}
  
.description h2 {
    font-family: var(--TripSansMedium);
    font-size: 25px;
    line-height: 33px;
    font-weight: bolder;
    margin-bottom: 20px;
}
  
.description p {
    font-family: var(--Georgia);
    font-size: 20px;
    line-height: 24px;
    color: var(--grey);
}
  
.organisation {
    width: 440px;
    display: flex;
    flex-direction: column;
}
  
.paris {
    background-color: var(--pink);
    padding: 30px;
    border-radius: 10px 10px 0 0;
}
  
.paris h2 {
    font-family: var(--TripSansMedium);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}
  
.paris p {
    font-family: var(--TripSansMedium);
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
  
.paris a {
    display: block;
    font-family: var(--TripSans);
    font-size: 13px;
    font-weight: 100;
    color: var(--white);
    padding: 20px;
    background-color: var(--grey);
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}
  
.paris-map img {
    object-fit: cover;
    width: 440px;
    height: 150px;
    border-radius: 0 0 10px 10px;
}

/* -------------------------------- */
/* --- SECTION LES IMMANQUABLES --- */
/* -------------------------------- */


h2 {
  font-family: var(--TripSansMedium);
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.unmissable-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 102px;
}

.arrow-1 i {
  position: absolute;
  top: 80px;
  right:-30px;
  z-index: 1;
  font-size: 22px;
  font-weight: bolder;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.arrow-1 i:hover {
  color: var(--white);
  background-color: var(--black);
}

.unmissable-left {
  max-width: 272px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.unmissable-left h3 {
  font-family: var(--TripSansMedium);
  font-size: 24px;
  margin-bottom: 28px;

}

.unmissable-left p {
  font-family: var(--Georgia);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.unmissable-left a {
  font-family: var(--TripSansMedium);
  font-size: 16px;
  text-decoration: underline;
  color: #545454;
}

.unmissable-right {
  display: flex;
  flex-direction: row;
  max-width: 838px;
  overflow-x: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.unmissable-right::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.unmissable-right {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.unmissable-right-block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;
  margin-right: 14px;
  cursor:pointer;
}

.unmissable-right-block:last-child {
  margin-right: 0;
}

.unmissable-right img {
  margin-bottom: 10px;
  width: 270px;
  height: 202px;
}

.unmissable-right i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
}

.unmissable-right-block .award {
  position: absolute;
  width: 30px;
  height: 45px;
  top: 140px;
  left: 10px;
  border-top-left-radius: 32%;
  border-top-right-radius: 32%;
}

.unmissable-right-block .michelin {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 85px;
  margin-bottom: 5px;
  padding: 2px;
  color: #be2837;
  background-color: #faf1ed;
  border-radius: 3px;
  font-family: var(--TripSansMedium);
  font-size: 12px;
  font-weight: bold;
}

.michelin .logomichelin {
  margin: 0;
  padding-right: 5px;
  padding-bottom: 1px;
  width: 15px;
  height: 15px;
}

.unmissable-right-block h4 {
  font-family: var(--TripSansMedium);
  font-size: 18px;
  margin-bottom: 5px;
}

.unmissable-right-block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.unmissable-right-block .popularity ul {
  margin-right: 7px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.unmissable-right-block .popularity li {
  font-size: var(--TripSans);
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 1px solid #00AA6C;
}

.unmissable-right-block .popularity li:last-child {
  background-color: var(--white);
  border: 1px solid #00AA6C;
}

.unmissable-right-block .popularity p {
  font-size: var(--TripSans);
  font-size: 12px;
  padding-bottom: 5px;
}

.unmissable-right-block p span {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
}

/* -------------------------------- */
/* --- SECTION TRENDS OF FORUMS --- */
/* -------------------------------- */


.tendance-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tendance-title h3 {
  font-family: var(--TripSansMedium);
  font-size: 24px;
}

.tendance-title a {
  font-family: var(--TripSansMedium);
  font-size: 16px;
  text-decoration: underline;
  color: #545454;
}

.tendance-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 86px;
}

.tendance-content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 364px;
  height: 120px;
  padding: 25px;
  margin-right: 15px;
  border-radius: 15px;
  background-color: #faf1ed;
}

.tendance-content-block:last-child {
  margin-right: 0px
}

.tendance-content-block p {
  font-family: var(--TripSansMedium);
  font-size: 18px;
  line-height: 23px;
}

.tendance-content-block-profil {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tendance-content-block-profil img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 7px;
}

.tendance-content-block-profil p {
  font-family: var(--TripSans);
  font-size: 16px;
}

.tendance-content-block-profil p span {
  font-family: var(--TripSansMedium);
  font-size: 16px;
  padding-right: 5px;
}

/* -------------------------------- */
/* ------ RENT A APPARTEMENT ------ */
/* -------------------------------- */


.popularlocation-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.popularlocation-title h3 {
  font-family: var(--TripSansMedium);
  font-size: 24px;
}

.popularlocation-title a {
  font-family: var(--TripSans);
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  text-decoration: underline;
}

.popularlocation-container {
  position: relative;
  margin-bottom: 84px;
}

.arrow i {
  position: absolute;
  top: 120px;
  right:-20px;
  z-index: 1;
  font-size: 22px;
  font-weight: bolder;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.arrow i:hover {
  color: var(--white);
  background-color: var(--black);
}

.popularlocation-content {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.popularlocation-content-block {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 17px;
}

.popularlocation-content-block:last-child {
  margin-right: 0px;
}

.popularlocation-content-block img {
  width: 364px;
  height: 272px;
  margin-bottom: 8px;
}

.popularlocation-content-block i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
}

.popularlocation-content-block h4 {
  font-family: var(--TripSansMedium);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.popularlocation-content-block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popularlocation-content-block .popularity ul {
  margin-right: 7px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.popularlocation-content-block .popularity li {
  font-size: var(--TripSans);
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 1px solid #00AA6C;
}

.popularlocation-content-block .popularity li:last-child {
  background-color: var(--white);
  border: 1px solid #00AA6C;
}

.popularlocation-content-block .popularity p {
  font-family: var(--TripSans);
  font-size: 12px;
  padding-bottom: 5px;
}

.popularlocation-content-block p {
  font-family: var(--TripSans);
  font-size: 14px;
  line-height: 20px;
}

.popularlocation-content-block p span {
  font-family: var(--TripSansMedium);
  font-size: 16px;
}

/* -------------------------------- */
/* --------- PARIS GENIALE -------- */
/* -------------------------------- */


.geniale-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.geniale-title h3 {
  font-family: var(--TripSansMedium);
  font-size: 24px;
}

.geniale-title a {
  font-family: var(--TripSans);
  font-size: 16px;
  font-weight: 600;
  color: #545454;
  text-decoration: underline;
}

.geniale-container {
  position: relative;
  margin-bottom: 106px;
}

.arrow-2 i {
  position: absolute;
  top: 120px;
  right:-20px;
  z-index: 1;
  font-size: 22px;
  font-weight: bolder;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
  border: 2px solid var(--black);
}

.arrow-2 i:hover {
  color: var(--white);
  background-color: var(--black);
}

.geniale-container-content {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: auto;
}

.geniale-container-block {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 271px;
  margin-right: 15px;
}

.geniale-container-block:last-child {
  margin-right: 0px;
}

.geniale-container-block img {
  width: 271px;
  height: 268px;
  margin-bottom: 5px;
}

.geniale-container-block i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white);
  padding: 7px;
  border-radius: 50%;
}

.geniale-container-block h4 {
  font-family: var(--TripSansMedium);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
}

.geniale-container-block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.geniale-container-block .popularity ul {
  margin-right: 7px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}

.geniale-container-block .popularity li {
  font-size: var(--TripSans);
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 1px solid #00AA6C;
}

.geniale-container-block .popularity li:last-child {
  background-color: var(--white);
  border: 1px solid #00AA6C;
}

.geniale-container-block .popularity p {
  font-family: var(--TripSans);
  font-size: 12px;
  padding-bottom: 5px;
}

.geniale-container-block p {
  font-family: var(--TripSans);
  font-size: 14px;
  line-height: 20px;
}

.geniale-container-block p span {
  font-family: var(--TripSansMedium);
  font-size: 16px;
}

/* -------------------------------- */
/* ------------ FOOTER ------------ */
/* -------------------------------- */

.footer-container {
  height: 156px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: var(--pink);
  border-top: 1px solid --black;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.footer-content img {
  width: 50px;
  height: 50px;;
}

.footer-content p {
  padding: 20px 0;
}

.footer-content p span {
  font-family: var(--TripSansMedium);
}

/* -------------------------------- */
/* -------- MEDIA QUERIES --------- */
/* -------------------------------- */

@media (min-width: 768px) {

/* -------------------------------- */
/* ---------- HEADER -------------- */
/* -------------------------------- */

.header-container--logo {
  order: 1;
}

.header-container--search {
  order: 2;
}

.header-container--nav {
  order: 3;
}

.header-container--logo img {
  width: 193px;
  height: 40px;
  margin-right: 15px;
  margin-left: 25px;
}

.header-container--search input {
  display: flex;
  width: 183px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px 10px 40px;
  background-image: url('../img/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

  .header-container--search .small-search {
    display: none;
  }

  .header-container--nav .small-nav {
    display: none;
  }

  .header-container--nav .big-nav {
    display: flex;
  }

  .header-container--nav .big-nav span {
    display: none;
  }

  .header-container--nav a {
    font-family: var(--TripSans);
    font-size: 1rem;
    font-weight: 600;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
  }

  .header-container--nav i {
    font-size: 20px;
    margin-right: 4px;
  }

  .header-container--nav a:hover {
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
  }

  .header-container--nav a:last-child {
    background-color: var(--black);
    color: var(--white);
    padding: 13px 15px;
    border-radius: 20px;
    font-family: var(--TripSans);
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 1s;
  }

  .header-container--nav a:last-child:hover {
    background-color: var(--grey);
  }

/* -------------------------------- */
/* ----------- MAIN --------------- */
/* -------------------------------- */


}

@media (min-width: 1024px) {

}

@media (min-width: 1184px) {

}