@import url("variables.css");
@import url("general.css");


/* HEADER -------------------------------------------- */

header {
  position: fixed;
  top: 0;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  background-color: var(--white-color);
  z-index: 1000;
}

.logo {
  width: 187px;
  height: 40px;
}

input {
  width: 340px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px 10px 40px;
  background-image: url('../img/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-family: var(--TripSans-typo);
  font-size: 1rem;
  font-weight: 600;
  padding: 10px;
  margin-right: 15px;
  cursor: pointer;
}

i {
  font-size: 20px;
  margin-right: 4px;
}

nav a:hover {
  background-color: #eee;
  padding: 10px;
  border-radius: 20px;
}

nav a:last-child {
  background-color: var(--black-color);
  color: var(--white-color);
  padding: 13px 15px;
  border-radius: 20px;
  font-family: var(--TripSans-typo);
  font-size: 1rem;
  font-weight: 600;
  transition: background-color 1s;
}

nav a:last-child:hover {
  background-color: var(--grey-color);
}

/* MAIN ------------------------------------ */

h1 {
  font-family: var(--TripSansMedium-typo);
  font-size: 54px;
  font-weight: 900;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
  margin-top: 150px;
}

h1 span {
  color: var(--pink-color);
}


.links-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.links-list a {
  width: 150px;
  border: 1px solid var(--black-color);
  padding: 18px 14px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: var(--TripSansMedium-typo);
  cursor: pointer;
}

.links-list a:hover {
  color: white;
  background-color: var(--black-color);
}

.pictures {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pictures a {
  position: absolute;
  left: 20px;
  bottom: 17px;
  color: var(--white-color);
  padding: 10px;
  background-color: var(--black-color);
  border-radius: 20px;
  font-size: 12px;
  font-family: var(--TripSansMedium-typo);
}

.pictures a:hover {
  background-color: var(--grey-color);
}

.pictures a i {
  font-size: 12px;
}

.pictures img {
  object-fit: cover;
  height: 432px;
  width: 658px;
  opacity: 100%;
  transition: opacity 1s;
}

.pictures img:hover {
  opacity:80%;
}

.pictures-column {
  display: flex;
  flex-direction: column;
}

.pictures-column img {
  height: 215px;
  width: 475px;
  margin-bottom: 2px;
  object-fit: cover;
}

.links {
  margin-bottom: 39px;
  font-family: var(--TripSans-typo);
  font-size: 12px;
  line-height: 12px;;
  color: var(--grey-color);
}

.links a:hover {
  text-decoration: underline;
}

.links span {
  margin: 0 3px;
  padding-top: 2px;
  font-weight: 600;
  font-size: 10px;
}

.bloc-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.description {
  width: 657px;
  padding-right: 140px;
}

.description h2 {
  font-family: var(--TripSansMedium-typo);
  font-size: 25px;
  line-height: 33px;
  font-weight: bolder;
  margin-bottom: 20px;
}

.description p {
  font-family: var(--Georgia-typo);
  font-size: 20px;
  line-height: 24px;
  color: var(--grey-color);
}

.organisation {
  width: 440px;
  display: flex;
  flex-direction: column;
}

.paris {
  background-color: var(--pink-color);
  padding: 30px;
  border-radius: 10px 10px 0 0;
}

.paris h2 {
  font-family: var(--TripSansMedium-typo);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.paris p {
  font-family: var(--TripSansMedium-typo);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.paris a {
  display: block;
  font-family: var(--TripSans-typo);
  font-size: 13px;
  font-weight: 100;
  color: var(--white-color);
  padding: 20px;
  background-color: var(--grey-color);
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.paris-map img {
  object-fit: cover;
  width: 440px;
  height: 150px;
  border-radius: 0 0 10px 10px;
}

/* SECTION : LES IMMANQUABLES ------------------------------------ */

h2 {
  font-family: var(--TripSansMedium-typo);
  font-size: 27px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.unmissable-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.unmissable-left {
  max-width: 272px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.unmissable-left h3 {
  font-family: var(--TripSansMedium-typo);
  font-size: 24px;
  margin-bottom: 28px;

}

.unmissable-left p {
  font-family: var(--Georgia-typo);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}

.unmissable-left a {
  font-family: var(--TripSansMedium-typo);
  font-size: 16px;
  text-decoration: underline;
  color: #545454;
}

.unmissable-right {
  display: flex;
  flex-direction: row;
  width: 900px;
  overflow-x: auto;
}

.unmissable-right-block {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 270px;
  margin-right: 14px;
  cursor:pointer;
}

.unmissable-right img {
  margin-bottom: 10px;
  width: 270px;
  height: 202px;
}

.unmissable-right i {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--white-color);
  padding: 7px;
  border-radius: 50%;
}

.unmissable-right-block .award {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 160px;
  left: 10px;
}

.unmissable-right-block h4 {
  font-family: var(--TripSansMedium-typo);
  font-size: 18px;
  margin-bottom: 5px;
}

.unmissable-right-block .popularity {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.unmissable-right-block .popularity ul {
  margin-right: 7px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.unmissable-right-block .popularity li {
  font-size: var(--TripSans-typo);
  margin-right: 1px;
  width: 10px;
  height: 10px;
  background-color: #00AA6C;
  border-radius: 50%;
  border: 1px solid #00AA6C;
}

.unmissable-right-block .popularity li:last-child {
  background-color: var(--white-color);
  border: 1px solid #00AA6C;
}

.unmissable-right-block .popularity p {
  font-size: var(--TripSans-typo);
  font-size: 13px;
}


